@{
    ViewBag.Title = "Home Page";
}

<section class="content-section-a" id="section1">
    <div class="container">
        <div style="margin-top: 20px;"></div>

        <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
                <h3>
                    <span style="color: #61d2d6;">COMO FUNCIONA</span>
                    <span style="color: #b4b1b1;">PARA VOCÊ CLIENTE</span>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-5"><hr style="background-color: #61d2d6;" /></div>
                <div class="col-md-2 col-xs-2 text-center"><i class="glyphicon glyphicon-star" style="color: #61d2d6;"></i></div>
                <div class="col-md-5 col-xs-5"><hr style="background-color: #61d2d6;" /></div>
            </div>
            <br /><br />
            <div class="col-sm-4 col-md-4 divide">
                <div class="text-center">
                    <div align="center">
                        @*<img src="~/Images/Diversas/Samrtphone.png" class="img-responsive" style="max-width: 120px;">*@
                        <i class="material-icons" style="font-size: 48px; color: #61d2d6;">settings_cell</i>
                    </div>
                    <div class="caption">
                        <h3>
                            <span style="color: #464646;">FAÇA SEU</span>
                            <span style="color: #00acc1;">CADASTRO</span>
                        </h3>
                        <h4>Cadastre-se gratuitamente em menos 2 minutos</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 divide">
                <div class="text-center">
                    <div align="center">
                        @*<img src="~/Images/Diversas/Favorite.png" class="img-responsive" style="max-width: 120px;">*@
                        <i class="material-icons" style="font-size: 48px; color: #ed146f;">stars</i>
                    </div>
                    <div class="caption">
                        <h3>
                            <span style="color: #464646;">SUAS</span>
                            <span style="color: #ed146f;">PREFERÊNCIAS</span>
                        </h3>
                        <h4>Informe suas preferências de Produtos e Marcas</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 divide">
                <div class="text-center">
                    <div align="center">
                        @*<img src="~/Images/Diversas/Cesta.png" class="img-responsive" style="max-width: 120px;">*@
                        <i class="material-icons" style="font-size: 48px; color: #e9ba52;">person_pin</i>
                    </div>
                    <div class="caption">
                        <h3>
                            <span style="color: #464646;">PROMOÇÕES</span>
                            <span style="color: #e9ba52;">EXCLUSIVAS</span>
                        </h3>
                        <h4>Receba promoções “Exclusivas para Você” dos seus mercados favoritos</h4>
                    </div>
                </div>
            </div>
        </div><br />
    </div>
</section>

<section class="content-section-b" id="section2">
    <div class="container">
        <div class="row text-center">
            <br />
            <div class="col-md-8 col-md-offset-2">
                <h3>Quer receber promoções “Feitas para Você” dos seus mercados favoritos?</h3>
                <div>
                    <h4>Faça parte deste novo conceito, onde você informa a seus mercados preferidos, quais produtos são realmente importantes para você, a fim de receber promoções exclusivas baseadas em suas preferências e no momento em que você realmente precisa delas!</h4>
                </div>
                <a href="@Url.Action("AceiteCadastro", "Cliente")" class="btn btn-default btn-raised btn-lg"
                   style="background-color: rgba(255, 255, 255, 0.05); color: #ffffff; border: 2px solid #ffffff;">
                    CADASTRE-SE
                </a>
            </div>
        </div>
        <br />
    </div>
</section>

<section class="content-section-c" id="section3">
    <div class="container">
        <div style="margin-top: 20px;"></div>

        <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
                <h3>
                    <span style="color: #61d2d6;">COMO FUNCIONA</span>
                    <span style="color: #b4b1b1;">PARA VOCÊ CLIENTE</span>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-5"><hr style="background-color: #61d2d6;" /></div>
                <div class="col-md-2 col-xs-2 text-center"><i class="glyphicon glyphicon-star" style="color: #61d2d6;"></i></div>
                <div class="col-md-5 col-xs-5"><hr style="background-color: #61d2d6;" /></div>
            </div>
            <br /><br />
            <div class="col-sm-4 col-md-4 divide">
                <div class="text-center">
                    <div align="center">
                        @*<img src="~/Images/Diversas/Samrtphone.png" class="img-responsive" style="max-width: 120px;">*@
                        <i class="material-icons" style="font-size: 48px; color: #ffffff;">settings_cell</i>
                    </div>
                    <div class="caption">
                        <h3>
                            <span style="color: #ffffff;">FAÇA SEU</span>
                            <span style="color: #00acc1;">CADASTRO</span>
                        </h3>
                        <h4>Cadastre-se gratuitamente em menos 2 minutos</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 divide">
                <div class="text-center">
                    <div align="center">
                        @*<img src="~/Images/Diversas/Favorite.png" class="img-responsive" style="max-width: 120px;">*@
                        <i class="material-icons" style="font-size: 48px; color: #ffffff;">stars</i>
                    </div>
                    <div class="caption">
                        <h3>
                            <span style="color: #ffffff;">SUAS</span>
                            <span style="color: #00acc1;">PREFERÊNCIAS</span>
                        </h3>
                        <h4>Informe suas preferências de Produtos e Marcas</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 divide">
                <div class="text-center">
                    <div align="center">
                        @*<img src="~/Images/Diversas/Cesta.png" class="img-responsive" style="max-width: 120px;">*@
                        <i class="material-icons" style="font-size: 48px; color: #ffffff;">person_pin</i>
                    </div>
                    <div class="caption">
                        <h3>
                            <span style="color: #ffffff;">PROMOÇÕES</span>
                            <span style="color: #00acc1;">EXCLUSIVAS</span>
                        </h3>
                        <h4>Receba promoções “Exclusivas para Você” dos seus mercados favoritos</h4>
                    </div>
                </div>
            </div>
        </div><br />
    </div>
</section>

